/* 
Public Kirka.io CSS #2 by NizzQ#9235
Please do give credit if you decided to recolor :)

-=Install Instructions for Browser=-
    1. Install "Stylus" extension
	2. Create a new style
	3. Paste the source code into it or you can just C&P "@import url(https://nizzq.github.io/NizzQ2.css)" for updates
	4. Enable it

-=Install Instructions for Client=-
	1. https://nizzq.github.io/NizzQ2.css
 */
/* Fonts */
@font-face {
    font-family: gamefont;
    src: url("https://ap-berry.github.io/ok/arial 1.otf");
}

* {
    font-family: gamefont;
}

/* Hide Logo */
.interface .logo {
    display: none;
}
/* Background */
.pattern-bg,
.bg-radial {
    display: none;
}

.interface .backgroud{
    background: url(https://media.discordapp.net/attachments/1084803701589430282/1084803738310553643/ATbr5xMkc.png) repeat !important; 
    height: 300%;
    background-position: 0px 0px;
}

.end-modal {
    background: url(https://media.discordapp.net/attachments/1084803701589430282/1084803738310553643/ATbr5xMkc.png) repeat !important;
}
